.number-wrap{
	display: flex;
	height: 100%;
	flex-direction: column;
	position: relative;

	.number-top{
		height: 60px;
		display: flex;
		flex-direction: row;
		align-items: center;
		border-bottom: solid 1px #d3d3d3;
		justify-content: space-between;
		padding-right: 40px;

		.nav{
			width: 320px;
			height: 60px;
			display: flex;
			flex-direction: row;
			font-size: 18px;
			align-items: center;

			span{
				height: 60px;
				display: block;
				box-sizing: border-box;
				line-height: 60px;
				width: 160px;
				text-align: center;
				cursor: pointer;
			}

			.active{
				border-bottom: solid 4px #000;
			}

			
		}

		.save{
			width: 160px;
			height: 40px;
			background-image: url(../../resources/images/save.png);
		}
	}


	.number-content{
		overflow-y: auto;
			.content-tab{
				margin-top: 60px;
				display: flex;
				flex-direction: column;

				.num{
					height: 100px;
					width: 100px;
					position: absolute;
					left: 60px;
					font-size: 48px;
					font-family: "SimSun";
					background-color: #b3b3c7;
					line-height: 100px;
					text-align: center;
					color: #fff;
				}

				.number-form{
					width: auto;
					margin : 0 auto 0 auto ;
					min-width: 560px;

					.form-item{
						display: flex;
						flex-direction: row;
						align-items: center;
						font-size: 16px;
						margin-bottom: 20px;


						/*label宽度*/
						.label{
							display: block;
							text-align: right;
							margin-right: 10px;
							width: 70px;
						}

						input {
							width: 400px;
							height: 40px;
							outline: none;
							padding-left: 10px;
						}

						textarea{
							width: 400px;
							height: 160px;
							resize: none;
							outline: none;
							padding-left: 10px;
							padding-top: 10px;
						}
					}

					.top-align{
						.label{
							align-self: flex-start;
						}
					}

					.new{
						display: block;
						width: 100px;
					}



				}
				
			}

			.hidden{
				display: none;
			}
	}

	.number-bottom{
		height: 60px;
		width: 100%;
		background-color: #f5f5f5;
		border-top: solid 1px #d3d3d3;
		position: fixed;
		bottom: 5px;
		padding-right: 200px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		span {
			height: 60px;
			box-sizing: border-box;
			display: block;
			line-height: 60px;
			width: 40px;
			text-align: center;
			cursor: pointer;
		}
		span:hover{
			color: #000;
			font-size: 20px;
		}

		span:nth-child(2n + 1 ){
			border-bottom: solid 4px #b3b3c7 ;
		}

		span:nth-child(2n){
			border-bottom: solid 4px #c9c9d4 ;
		}

		.active{
			font-size: 20px;
			border-bottom: solid 4px #374260 !important; 
		}
	}
}